/*
@signature-red: #CE0E2D;
@signature-yellow: #FFC629;
*/

html,
body {
    font-family: 'Play', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    background: none;
}

body {
    background: #000 url('/static/signature-theaters-background1-960.png') no-repeat center center;
    background-size: cover;
}

#__next,
#__next > div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header .navbar,
.navbar-logo,
header {
    display: inline-block;
    font-family: 'Play', sans-serif;
}

header .navbar-logo {
    float: left;
    margin: 2px 0 2px 20px;
}

#logo {
    width: 170px;
    height: 56px;
}

header .navbar {
    position: relative;
    top: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CE0E2D;
    display: flex;
    align-items: center;
}

header .navbar ul {
    -webkit-transition: max-height 0.4s ease;
    transition: max-height 0.4s ease;
}

.navbar-nav {
    margin-left: 0;
    overflow: visible;
}

.navbar ul {
    overflow: hidden;
    position: absolute;
    top: 56px;
    left: -10px;
    max-height: 0;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 10px;
}

.navbar ul.new-class {
    max-height: 1000px;
}

header .navbar a {
    text-decoration: none;
}

header .navbar a:focus {
    outline: 1px dotted #FFF;
}

.navbar-toggle {
    border-color: #000;
}

header .navbar li a:hover,
header .navbar li a:focus {
 text-shadow: 2px 2px 10px #CE0E2D,
    -2px -2px 10px #CE0E2D,
    -2px 2px 10px #CE0E2D,
    2px -2px 10px #CE0E2D;
}

.navbar-toggle:focus,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus {
    background-color: #000;
    outline: none;
}

.navbar-inverse .navbar-toggle:focus,
header .navbar .navbar-toggle.open {
 box-shadow: 2px 2px 10px rgba(255,198,39,0.5),
    -2px -2px 10px rgba(255,198,39,0.5),
    -2px 2px 10px rgba(255,198,39,0.5),
    2px -2px 10px rgba(255,198,39,0.5);
}

.navbar-collapse {
    float: left;
}

.navbar-nav {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 50px;
    margin-left: 20px;
}

.navbar-inverse .navbar-toggle {
    background: none;
    cursor: pointer;
    border: 1px solid #FFC629;
    margin-left: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background: #FFC629;
}

.navbar-inverse .navbar-toggle:hover {
    background: none;
}

.navbar-nav > li {
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a {
    color: #DDD;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    padding: 0;
}

header::after {
    content: " ";
    background: url(/static/triangle.svg);
    position: absolute;
    width: 100px;
    right: -100px;
    top: 0;
    box-shadow: none;
    z-index: 3;
    height: 100px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 1);
}

section {
    width: 100%;
    min-height: 100%;
    background: #000;
    color: #FFF;
    position: relative;
    top: 100%;
    display: flex;
    align-items: center;
    transition: all 1s ease;
    padding-bottom: 80px;
    border-top: 1px solid #FFC629;
}

.experience,
.contact {
    background: url(/static/blackmamba.png);
}

h1 {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 40px;
}

h2 {
    color: #FFC629;
    text-shadow: 2px 2px 10px #CE0E2D,
    -2px -2px 10px #CE0E2D,
    -2px 2px 10px #CE0E2D,
    2px -2px 10px #CE0E2D;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-default {
    background-color: #000;
    border-color: #CCC;
    color: #CCC;
    text-shadow: 1px 1px 1px #000,
    -1px -1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000;
    border-width: 2px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:hover {
    background-color: #000;
    border-color: #CCC;
    color: #FFF;
    text-shadow: 1px 1px 1px #000,
    -1px -1px 1px #000,
    -1px 1px 1px #000,
    1px -1px 1px #000;
    box-shadow: 2px 2px 2px #FFC629,
    -2px -2px 2px #FFC629,
    -2px 2px 2px #FFC629,
    2px -2px 2px #FFC629;
    position: relative;
}

.btn-default:active {
    top: 1px;
}

.section-button {
    margin: 60px 0 0;
    padding-bottom: 10px;
}

#contact .section-button {
    margin: 20px 0 0;
}

#contact .error ~ .section-button {
    margin: 7px 0 0;
}

#contact .section-button .btn {
 width: 100%;
}

.form-control {
    font-size: 20px;
    padding: 3px 12px;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group.error {
    margin-bottom: 0.41rem;
}

.form-group.error input,
.form-group.error textarea {
    border: 1px solid #CE0E2D;
    box-shadow: 2px 2px 10px #CE0E2D,
    -2px -2px 10px #CE0E2D,
    -2px 2px 10px #CE0E2D,
    2px -2px 10px #CE0E2D;
}

.form-group.error label {
    text-shadow: 2px 2px 10px #CE0E2D,
    -2px -2px 10px #CE0E2D,
    -2px 2px 10px #CE0E2D,
    2px -2px 10px #CE0E2D;
}

.alert-success {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 2rem;
    background: #28a745!important;
    color: #FFF;
    box-shadow: 2px 2px 2px #000;
    animation: fade-in 0.5s ease;
}

.alert-success span.message {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5),
    -2px -2px 2px rgba(0,0,0,0.5),
    -2px 2px 2px rgba(0,0,0,0.5),
    2px -2px 2px rgba(0,0,0,0.5);
}

.alert-success button,
.alert-success button:hover {
    color: #FFF;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    opacity: 0.6;
    padding-bottom: 3px;
    line-height: 14px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5),
    -2px -2px 2px rgba(0,0,0,0.5),
    -2px 2px 2px rgba(0,0,0,0.5),
    2px -2px 2px rgba(0,0,0,0.5);
}

.error-message {
    font-size: 18px;
    background: #CE0E2D;
    color: #FFF;
    padding: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
    display: inline-block;
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        opacity: 0;

    }
    50% {
        opacity: .2;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes animate-left {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes animate-right {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes animate-left {
    0% {
        transform: translate3d(-100%, 0, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes animate-right {
    0% {
        transform: translate3d(100%, 0, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes animate-top {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes animate-top {
    0% {
        transform: translate3d(0, 100%, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes animate-bottom {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes animate-bottom {
    0% {
        transform: translate3d(0, -100%, 0);
        opacity: 0;

    }
    50% {
        opacity: .3;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.container {
    overflow: hidden;
    max-width: 100%;
}

.service-list-item img,
.experience-list-item img,
.products-list-item img {
    max-width: 100%;
    min-width: 100%;
    position: relative;
    border: 2px solid #FFF;
    border-radius: 10px;
}

.service-list-item .col-xs-12,
.experience-list-item .col-xs-12,
.products-list-item .col-xs-12 {
    margin-bottom: 30px;
}

.experience-list-item .vert-wrapper {
    overflow: hidden;
    align-self: flex-start;
    justify-content: flex-start;
    flex-grow: 0;

}

.animation {
    -webkit-transition: all 1s ease-in-out;
    -webkit-transform: translate3d(-100%, 0, 0);
    transition: all 1s ease-in-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.animation.right {
    max-width: 100%;
    transform: translate3d(100%, 0, 0);
}

.animation.in-view {
    -webkit-animation: animate-left 0.5s ease-in both;
    animation: animate-left 0.5s ease-in both;
}

.experience-list-item .animation.in-view {
    -webkit-animation: animate-top 0.5s ease-in both;
    animation: animate-top 0.5s ease-in both;
}

.experience-list-item .animation.in-view.bottom {
    -webkit-animation: animate-bottom 0.5s ease-in both;
    animation: animate-bottom 0.5s ease-in both;
}

.animation.right.in-view {
    -webkit-animation: animate-right 0.5s ease-in both;
    animation: animate-right 0.5s ease-in both;
}

.service-list-item,
.products-list-item {
    margin-top: 30px;
}

.phone {
    font-size: 35px;
    color: #CCC;
    display: inline-block;
}

.phone-label {
    display: inline-block;
    margin-right: 15px;
}

p {
    font-size: 1.2rem;
}

h1 {
    margin: 80px 0 40px;
}

#contact h1 {
    font-size: 40px;
    margin: 80px 0 0;
    letter-spacing: 7px;
}

#contact h2 {
    margin-top: 20px;
}

@media (min-width: 422px) {
    h1 {
        font-size: 50px;
    }
    #contact h1 {
        font-size: 50px;
    }
    
    #contact h2 {
        margin-top: 20px;
    }
    .phone {
        font-size: 48px;
    }  
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
        letter-spacing: 2px;
        display: flex;
    }

    .navbar ul {
        overflow: auto;
        position: static;
        top: auto;
        left: auto;
        max-height: none;
        background: none;
        margin: 0 0 0 15px;
        padding: auto;
    }

    .navbar ul li {
        margin: auto;
        flex: 0 1 auto;
    }

    .navbar-nav > li > a {
        padding: 12px;
    }

    .service-list-item div,
    .experience-list-item div,
    .products-list-item div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service-list-item .col-xs-12,
    .experience-list-item .col-xs-12,
    .products-list-item .col-xs-12{
        margin-bottom: 0;
    }

    .service-list-item h2,
    .experience-list-item .col-xs-12,
    .products-list-item h2 {
        margin-top: 0;
    }

    .contact-info {
        margin: 0.5rem 0 1.5rem;
        overflow: auto;
    }

    .vertical-align {
        display: flex;
        flex-direction: row;
    }

    .vertical-align.order-right > .col-sm-6:first-child {
        order: 2;
    }

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
        display: flex;
        align-items: left;
        justify-content: center;
    }

    .experience-list-item.vertical-align > [class^="col-"],
    .experience-list-item.vertical-align > [class*=" col-"] {
        justify-content: flex-start;
    }

    .vertical-align > [class^="col-"] > div,
    .vertical-align > [class*=" col-"] > div {
        /* flex: 1; */
        flex-grow: 1;
    }

    .experience-list-item.vertical-align > [class^="col-"]:first-child > div,
    .experience-list-item.vertical-align > [class*=" col-"]:first-child > div {
        /* flex: 1; */
        flex-grow: 0;
    }

    .email{
        border: 1px solid #CCC;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #000;
        background: rgba(100, 100, 100, 0.3);
    }

    .alert-success {
        font-size: 24px;
        line-height: 28px;
    }

    .alert-success button,
    .alert-success button:hover {
        font-size: 2rem;
    }
}

@media (min-width: 960px) {
    body {
        background: #000 url('/static/signature-theaters-background1-960.png') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }

    p {
        font-size: 1.3rem;
    }

    .navbar-nav {
        letter-spacing: 5px;
    }

    .navbar-nav > li > a {
        padding: 15px;
    }

    .service-list-item img,
    .products-list-item img {
        min-width: 100%;
    }

    h1,
    #contact h1 {
        font-size: 72px;
    }
}

@media (min-width: 1280px) {
    body {
        background: #000 url('/static/signature-theaters-background1-1920.png') no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }
    .contact-info {
        display: flex;
        align-items: baseline;
        margin: 0.7rem 0 3rem;
    }
    .contact-info div:first-child {
        flex: 0.8;
    }
    .contact-info div {
        flex: 1;
    }
    .vertical-align {
        margin: 5rem 0;
    }
}

